
header {
            background-color: #af6b4c;
            color: #FFFFFF;
            text-align: center;
            padding: 15px;
}
header a {
    text-decoration: none;
    background-color: #855844;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 1s ease;
}
header a:hover {
    background-color: #5a443a;
}
